{% extends "base.html" %}

{% block title %}Public Timeline - {{ block.super }}{% endblock %}

{% block content %}
<h2 class="col-lg-12 col-md-12">Public Timeline</h2>
	<ul id="timeline" class="col-lg-12 col-md-12 timeline">
        {% for tweet in tweets %}
            <li>
                <a href="{% url 'userline' tweet.username %}" class="username">{{ tweet.username }}</a>
                <div>{{ tweet.body|urlize }}</div>
            </li>
        {% empty %}
            <li>There are no tweets yet.  Make sure to post one!</li>
        {% endfor %}
        {% if next %}
            <li class="more"><a href="?start={{ next }}">More</a></li>
        {% endif %}
    </ul>
{% endblock %}
