<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Twissandra{% endblock %}</title>
        <meta name="description" content="{% block description %}Twissandra is an example Twitter implementation, using Cassandra{% endblock %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap.js" type="text/javascript"></script>
        <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet" type="text/css" media="screen,projection" />
        <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" media="screen,projection" />
    </head>
    <body>
        <div class="container-fluid">
            <header id="header">
                <div class="row">
                    <nav class="navbar navbar-default" role="navigation">
                        <div id="logo" class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button> <a class="navbar-brand" href="/">Twissandra</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul id="nav" class="nav navbar-nav navbar-right nav-tabs">
                                <li><a href="{% url 'timeline' %}">Home</a></li>
                                <li><a href="{% url 'publicline' %}">Public</a></li>
                                <li><a href="{% url 'find_friends' %}">Find Friends</a></li>
                                {% if request.user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Sign out of {{ request.session.username }}</a></li>
                                {% else %}
                                <li><a href="{% url 'login' %}">Login</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div id="mainContent">
                        <div class="row">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>    
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="row">
                        <div id="sidebar">
                            <p>
                                Twissandra is an example project, created to learn and demonstrate how to use
                                Cassandra.  Running the project will present a website that has similar
                                functionality to Twitter.
                            </p>
                            <p>
                                View the code for this site <a href="http://github.com/twissandra/twissandra">on GitHub</a>
                            </p>
                            {% block sidebar %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

