{% extends "base.html" %}

{% block title %}Login - {{ block.super }}{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-12">
    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 text-center" id="signin">
        <div class="row">
            <h2>Sign In</h2>
            <form method="POST">
                <div class="form-group customizeForm col-lg-8 col-lg-offset-2">
                    {{ login_form }}
                </div>
                <input type="hidden" name="kind" value="login" />
                {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <input class="btn btn-default col-lg-2 col-lg-offset-5 signinBtn" type="submit" value="Sign In" />
<!--                <div class="col-lg-12">
                    <span>Don't have a account?</span><a href="javascript:show('signup')" role="button">Sign Up</a>
                </div>-->
            </form>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 text-center" id="signup">
        <div class="row">
            <h2>Sign Up</h2>
            <form method="POST">
                <div class="form-group customizeForm col-lg-8 col-lg-offset-2">
                    {{ register_form }}
                </div>
                <input type="hidden" name="kind" value="register" />
                {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <input class="btn btn-default col-lg-2 col-lg-offset-5" type="submit" value="Sign Up" />
            </form>
        </div>
    </div>
</div>
{% endblock %}